<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Data</title>
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
  </head>
  <body class="bg-slate-800 flex justify-center">
    <div class=" border-fuchsia-300 bg-slate-700 border-4 rounded-md p-4 mt-6">
      <h1 class="flex justify-center text-6xl font-extrabold text-fuchsia-100">Home Page</h1>
      <div class="flex justify-center py-8 text-4xl text-fuchsia-50">Choose a database:</div>
      <ul class="flex justify-between text-2xl text-fuchsia-300">
        <li class="bg-slate-900 rounded-md hover:bg-slate-600 px-2 py-1"><a href="./employees">Employee</a></li>
        <li class="bg-slate-900 rounded-md hover:bg-slate-600 px-2 py-1"><a href="./employers">Employer</a></li>
        <li class="bg-slate-900 rounded-md hover:bg-slate-600 px-2 py-1"><a href="./jobs">Job</a></li>
      </ul>
    </div>
  </body>
</html>
